<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>
<body>
    <div id="app">
        <h1>Tala Travel Planner</h1>

        <img src="../img/travel.png" alt="logo of the travel planner"/>

        <form id="trip-form">
            <label for="location">Location</label>
            <input type="text" id="location" name="location" required>

            <label for="start-date">Start date:</label>
            <input type="date" id="start-date" name="start-date" required>

            <label for="end-date">End date:</label>
            <input type="date" id="end-date" name="end-date" required>

            <button type="submit">Plan Trip</button>
        </form>

        <div id="trip-details"></div>
    </div>
</body>
</html>